# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.vs/
obj/
bin/
els-backend/src/ELS.Web.Host/App_Data/Logs/
els-backend/src/ELS.Web.Mvc/App_Data/Logs/
els-backend/src/ELS.Migrator/Logs/Logs.txt
els-backend/build/outputs/
els-backend/docker/mvc/Mvc-Logs/

