<div [@routerTransition]>
    <section class="content-header">
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div style="width: 1000px">
                    <carousel #cardCarousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator" (activeSlideChange)="onSlideChange($event)">
                        <slide *ngFor="let slide of slides; let index=index">
                            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%; opacity: 0.8;">
                            <div class="carousel-caption" style="cursor: pointer;" (click)="toggleResult()">
                                <div *ngIf="!resultToggled; else resultEl">
                                    <h2>{{slide.text}}</h2>
                                    <div class="text-lowercase">({{slide.subtext}})</div>
                                </div>
                                <ng-template #resultEl>
                                    <h2>{{curVocabulary.term}}</h2>
                                    <div class="text-lowercase" *ngIf="curVocabulary.phonetics">({{curVocabulary.phonetics}})</div>
                                </ng-template>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </section>
</div>