<abp-modal-header
    [title]="'ViewVocabulary' | localize"
    (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body">
    <h3 class="text-primary">
        {{vocabulary.term}}
    </h3>
    <p class="text-primary text-lowercase">
        <em>
            {{WordClass2LabelMapping[vocabulary.classification] | localize}}
        </em>
    </p>
    <p class="text-primary">
        {{vocabulary.phonetics}}
    </p>
    <p>
        {{vocabulary.definition}}
    </p>
    <hr class="hr hr-blurry bg-light" />
    <p style="white-space: pre-line;">
        <strong>
            {{vocabulary.description}}
        </strong>
    </p>
    <p style="white-space: pre-line;">
        <em>
            {{vocabulary.example}}
        </em></p>
</div>