<form
    class="form-horizontal"
    autocomplete="off"
    #createSentenceModal="ngForm"
    (ngSubmit)="save()"
>
<abp-modal-header
    [title]="'CreateNewSentence' | localize"
    (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
    <div class="modal-body">
        <tabset>
            <tab [heading]="'General' | localize" class="pt-3 px-2">
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="name">
                        {{ "Term" | localize }}
                    </label>
                    <div class="col-md-9">
                        <textarea
                            rows="3"
                            class="form-control"
                            name="term"
                            id="term"
                            maxlength="512"
                            required
                            [(ngModel)]="sentence.term"
                            #termModel="ngModel"
                            #termEl
                        ></textarea>
                        <abp-validation-summary
                            [control]="termModel"
                            [controlEl]="termEl"
                        ></abp-validation-summary>
                </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="surname">
                        {{ "Definition" | localize }}
                    </label>
                    <div class="col-md-9">
                        <textarea
                            rows="3"
                            class="form-control"
                            name="def"
                            id="def"
                            maxlength="512"
                            required
                            [(ngModel)]="sentence.definition"
                            #defModel="ngModel"
                            #defEl
                        ></textarea>
                        <abp-validation-summary
                            [control]="defModel"
                            [controlEl]="defEl"
                        ></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="surname">
                    {{ "Phonetics" | localize }}
                    </label>
                    <div class="col-md-9">
                    <input
                        type="text"
                        class="form-control"
                        name="phonetics"
                        id="phonetics"
                        maxlength="32"
                        [(ngModel)]="sentence.phonetics"
                        #phoneticsModel="ngModel"
                        #phoneticsEl
                    />
                    <abp-validation-summary
                        [control]="phoneticsModel"
                        [controlEl]="phoneticsEl"
                    ></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="col-md-3 col-form-label" for="surname">
                    {{ "Level" | localize }}
                    </label>
                    <div class="col-md-9">
                        <select 
                            class="form-control show-tick"
                            name="lv"
                            required
                            [(ngModel)]="sentence.level"
                            #lvModel="ngModel"
                            #lvEl
                        >
                            <!-- <option value="undefined">-- Please select --</option> -->
                            <option *ngFor="let vocabularyLevelOption of vocabularyLevelOptions"
                                    [value]="vocabularyLevelOption">
                                {{VocabularyLevel2LabelMapping[vocabularyLevelOption]}}
                            </option>
                        </select>
                        <abp-validation-summary
                            [control]="lvModel"
                            [controlEl]="lvEl"
                        ></abp-validation-summary>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="surname">
                    {{ "Description" | localize }}
                    </label>
                    <div class="col-md-9">
                    <textarea
                        rows="3"
                        class="form-control"
                        name="desc"
                        id="desc"
                        maxlength="512"
                        [(ngModel)]="sentence.description"
                        #descModel="ngModel"
                        #descEl
                    ></textarea>
                    <abp-validation-summary
                        [control]="descModel"
                        [controlEl]="descEl"
                    ></abp-validation-summary>
                    </div>
                </div>
            </tab>
            <tab [heading]="'StudySets' | localize" class="pt-3 px-2">
                <div class="form-group row mb-0">
                
                </div>
            </tab>
        </tabset>
    </div>
    <abp-modal-footer
        [cancelDisabled]="saving"
        [saveDisabled]="!createSentenceModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"
    ></abp-modal-footer>
</form>
