<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{totalVocabularyCount}}</h3>
              <p>Total Vocabularies</p>
            </div>
            <div class="icon">
              <i class="fas fa-list"></i>
            </div>
            <a [routerLink]="['/app/vocabularies']" routerLinkActive="router-link-active" 
              class="small-box-footer">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{totalSentenceCount}}</h3>
              <p>Total Sentences</p>
            </div>
            <div class="icon">
              <i class="fas fa-list"></i>
            </div>
            <a [routerLink]="['/app/sentences']" routerLinkActive="router-link-active" 
              class="small-box-footer">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{totalQuizCount}}</h3>
              <p>Total Quiz</p>
            </div>
            <div class="icon">
              <i class="fas fa-question"></i>
            </div>
            <a href="https://github.com/aspnetboilerplate/aspnetboilerplate/network/dependents"
              class="small-box-footer"
              target="_blank">
              More info
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">This week vocabularies</span>
              <span class="info-box-number">
                <a 
                  [routerLink]="['/app/vocabularies']"
                  [queryParams]="{creationdate: 'thisWeek'}"
                  routerLinkActive="router-link-active" 
                  class="small-box-footer">
                  {{thisWeekVocabularyCount}}
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1">
              <i class="fas fa-plus-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">This week sentences</span>
              <span class="info-box-number">
                <a 
                  [routerLink]="['/app/sentences']"
                  [queryParams]="{creationdate: 'thisWeek'}"
                  routerLinkActive="router-link-active" 
                  class="small-box-footer">
                  {{thisWeekSentenceCount}}
                </a>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-md-up"></div>
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-primary elevation-1">
              <i class="fas fa-question-circle"></i>
            </span>
            <div class="info-box-content">
              <span class="info-box-text">This week accuracy</span>
              <span class="info-box-number">
                {{quizAccuracy}}%
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Top
                <select name="leastCorrectMaxResultCount" [(ngModel)]="leastCorrectMaxResultCount" (change)="leastCorrectMaxResultCountChange()">
                  <option value="10">10</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                </select>  Least Correct Term</h3>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead class="bg-light">
                  <tr>
                    <th>No.</th>
                    <th class="w-25">Term</th>
                    <th class="w-25">Definition</th>
                    <th>Percentage</th>
                    <th>Answer Count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vocab of leastCorrectVocabularies; let i = index">
                    <td>{{i + 1}}</td>
                    <td style="white-space: normal;">{{vocab.term}}</td>
                    <td style="white-space: normal;">{{vocab.definition}}</td>
                    <td>{{vocab.percentage * 100}}%</td>
                    <td>{{vocab.answerCount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>